<div th:fragment="ask-question">
    <div class="post-wrap">
        <h3 class="title"><a href="#" class="question-link">Qanday qilib JavaScriptda
            Internet bor yo'qligini
            tekshiriladi?</a> <span class="status">[ Ko'chilgan ]</span></h3>

        <div class="post-item ask-question">
            <form action="#" th:action="@{/ask_question}" th:object="${question}" method="POST">
                <div class="field-row">
                    <span class="label">Savol sarlavhasi:</span>

                    <div class="form-field"><input type="text" max-length="240"
                                                   th:field="*{questionTitle}"/></div>
                </div>
                <div class="field-row">
                    <span class="label">Savol matni: </span>

                    <div class="text-editor">
                        <div class="wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea class="wmd-input" id="wmd-input" th:field="*{questionContent}"></textarea>
                        </div>

                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>
                </div>
                <div class="field-row">
                    <span class="label">Teglarni kiriting:</span>
                    <input name="selectedTagList" type="hidden"/>

                    <div class="form-field">
                        <div id="tagSelector"></div>
                    </div>
                </div>
                <div class="field-row footer">
                    <!--<div class="footer">-->
                    <input type="submit" class="btn btn-green shdw-1x" value="Submit"/>
                    <!--<button type="sumbit" class="btn btn-green shdw-2x">Savol Berish</button>-->
                    <a href="#">Link</a>
                    <!--</div>-->
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            App.tagSelectorConfig();
        });
    </script>
</div>