<div xmlns:th="http://www.thymeleaf.org" th:fragment="registration (user)">
    <form class="form-login" th:action="@{/registration}" th:object="${user}" method="POST">
        <div class="field-row">
            <h3 class="title">Ro'yxatdan o'tish</h3>
        </div>
        <div class="field-row">
            <span class="label">Display Name:</span>

            <div class="form-field">
                <input type="text" name="displayName" th:value="*{displayName}"/>
            </div>
        </div>
        <div class="field-row">
            <span class="label">Email:</span>

            <div class="form-field">
                <input type="text" name="email" th:value="*{email}" max-length="240"/>
            </div>
        </div>
        <div class="field-row">
            <span class="label">Parol:</span>

            <div class="form-field">
                <input type="password" name="password" th:value="*{password}" max-length="240"/>
            </div>
        </div>
        <div class="field-row">
            <span class="label">Parolni takrorlang:</span>

            <div class="form-field">
                <input type="password" name="confirmPassword" max-length="240"/>
            </div>
        </div>
        <div class="field-row" th:if="${param.error}">
            Loginda yoki parolda xatolik
        </div>

        <div class="field-row" th:if="${param.logout}">
            Siz profilingizdan chiqdingiz, qayta kiring.
        </div>

        <div class="field-row footer">
            <input type="submit" class="btn btn-green shdw-2x" value="Ro'yxatdan o'tish"/>
        </div>
    </form>
    <!--<a th:href="@{/auth/google(scope='profile')}"-->
    <!--class="ml btn btn-block btn-social btn-sm btn-google-plus"><i class="fa fa-google-plus"></i>Google+</a>-->
    <!--<a th:href="@{/auth/facebook}" class="ml btn btn-block btn-social btn-sm btn-facebook"><i-->
    <!--class="fa fa-facebook"></i>Facebook</a>-->
</div>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="login (user)">
    <form class="form-login" th:action="@{/auth}" method="POST" th:object="${user}">
        <div class="field-row">
            <h3 class="title">Ro'yxatdan o'tish</h3>
        </div>
        <div class="field-row">
            <span class="label">Login:</span>

            <div class="form-field">
                <input type="text" name="username" th:value="*{email}" max-length="240"/>
            </div>
        </div>
        <div class="field-row">
            <span class="label">Parol:</span>

            <div class="form-field">
                <input type="password" name="password" th:value="*{password}" max-length="240"/></div>
        </div>
        <div class="field-row" th:if="${param.error}">
            Loginda yoki parolda xatolik
        </div>

        <div class="field-row" th:if="${param.logout}">
            Siz profilingizdan chiqdingiz, qayta kiring.
        </div>

        <div class="field-row footer">
            <input type="submit" class="btn btn-green shdw-2x" value="Kirish"/>
        </div>
    </form>
    <!--<a th:href="@{/auth/google(scope='profile')}"-->
    <!--class="ml btn btn-block btn-social btn-sm btn-google-plus"><i class="fa fa-google-plus"></i>Google+</a>-->
    <!--<a th:href="@{/auth/facebook}" class="ml btn btn-block btn-social btn-sm btn-facebook"><i-->
    <!--class="fa fa-facebook"></i>Facebook</a>-->
</div>