<div xmlns:th="http://www.thymeleaf.org" th:fragment="filter-box">
    <div class="filter-box clearfix">
        <ul class="list filter-list clearfix pull-left">
            <li><a href="#"><i class="box-count">Java</i> Haqida</a></li>
            <li class="active"><a href="#"><i class="box-count">522</i> Oxirgi</a></li>
            <li><a href="#"><span class="fa fa-caret-up"></span> Top</a></li>
            <li><a href="#">Javobsiz <i class="box-count">522</i> </a></li>
            <li><a href="#">Qiziq</a></li>
        </ul>
        <h3 class="title pull-right">Oxirgi taglar</h3>
    </div>
</div>
