<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="mOIH_3eGXjEVcGZA-HNLWb6iG26s_ijPb7Vep8MWD7Q" />
    <title th:text="${viewData.title}">Query.uz - savol-javob</title>
    <link rel="icon" th:href="@{/favicon.jpg}" type="image/jpg" sizes="16x16"
    <meta name="keyword" th:content="${viewData.metaDescription}"/>
    <meta name="description" th:content="${viewData.metaKeyword}"/>
    <meta name="robots" content="index/index"/>
    <meta name="copyright" content="Query.uz jamoasi"/>

    <meta property="og:title" th:content="${viewData.title}"/>

    <meta property="og:url" th:content="${viewData.viewLink}"/>

    <meta property="og:description" th:content="${viewData.metaDescription}"/>

    <meta property="og:image" th:content="@{/images/logo-yellow_white.png}"/>

    <meta property="og:type" th:content="savol-javob"/>

    <meta name="twitter:card" th:content="@{/images/logo-yellow_white.png}"/>

    <meta name="twitter:title" th:content="${viewData.title}"/>

    <meta name="twitter:url" th:content="${viewData.viewLink}"/>

    <meta name="twitter:description" th:content="${viewData.metaDescription}"/>

    <meta name="twitter:image:src" th:content="@{/images/logo-yellow_white.png}"/>
    <!--<meta name="keyword" content="${_csrf.headerName}"/>-->
    <!--<meta name="description" content="${_csrf.token}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="../../css/grid.css" th:href="@{/css/grid.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/css/main.css}"/>-->
    <link rel="stylesheet/less" type="text/css" th:href="@{/less/font-awesome/font-awesome.less}"/>
    <link rel="stylesheet/less" type="text/css" th:href="@{/less/grid/grid.css.less}"/>
    <link rel="stylesheet/less" type="text/css" th:href="@{/less/main/main.less}"/>

    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/less.min.js}"></script>


    <link rel="stylesheet" type="text/css" href="../static/js/google-code-prettify/prettify.css"
          th:href="@{/js/google-code-prettify/prettify.css}"/>
    <script type="text/javascript" src="../static/js/google-code-prettify/prettify.js"
            th:src="@{/js/google-code-prettify/prettify.js}"></script>

    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-71818547-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <script type="text/javascript" src="../static/js/pagedown-78f4482fced9/Markdown.Converter.js"
            th:src="@{/js/pagedown-78f4482fced9/Markdown.Converter.js}"></script>
    <script type="text/javascript" src="../static/js/pagedown-78f4482fced9/Markdown.Sanitizer.js"
            th:src="@{/js/pagedown-78f4482fced9/Markdown.Sanitizer.js}"></script>
    <script type="text/javascript" src="../static/js/pagedown-78f4482fced9/Markdown.Editor.js"
            th:src="@{/js/pagedown-78f4482fced9/Markdown.Editor.js}"></script>
    <script type="text/javascript" src="../static/js/pagedown-78f4482fced9/local/Markdown.local.uz.js"
            th:src="@{/js/pagedown-78f4482fced9/local/Markdown.local.uz.js}"></script>


    <link rel="stylesheet" type="text/css" href="../static/js/tag-selector/css/tag-selector.css"
          th:href="@{/js/tag-selector/css/tag-selector.css}"/>
    <script type="text/javascript" src="../static/js/tag-selector/js/tag-selector.js"
            th:src="@{/js/tag-selector/js/tag-selector.js}"></script>

    <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</head>
<body>
<div class="header" th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="brand-box">
                    <a th:href="@{/}" title="Query.uz - Bosh sahifa">
                        <!--<img src="images/logo-two.png" alt="query.uz" height="40"/>-->
                        <img th:src="@{/images/logo-yellow_white.png}" alt="query.uz" height="32"/>
                        <!--<span>Query</span><span>.</span><span>uz</span> -->
                        <!--<i class="fa fa-caret-down"></i>-->
                    </a>

                    <h1 class="hide">Query.uz - Dasturlash bo'yicha Savol & Javob ko'rinishidagi loyiha</h1>
                    <!--<a href="#"><i class="fa fa-area-chart"></i></a>-->
                    <!--<a href="#"><i class="fa fa-file-text"></i></a>-->
                </div>

            </div>
            <div class="col-xs-12 col-sm-9">
                <!--<form action="#" class="form-search pull-left">-->
                <!--<label for="srch">Izlash</label>-->
                <!--<input type="text"/>-->
                <!--</form>-->
                <ul class="list main-menu pull-right clearfix">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                        <a th:href="@{/}" title="Savollar"><i class="fa fa-question"></i> <span>Savollar</span></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/tag/list' ? 'active':''}">
                        <a th:href="@{/tag/list}" title="Teglar"><i class="fa fa-tag"></i> <span>Teglar</span></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/help' ? 'active':''}">
                        <a th:href="@{/help}" title="Yordam"><i class="fa fa-info-circle"></i> <span>Yordam</span></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/auth' ? 'active':''}">
                        <a th:href="@{/auth}" title="Kirish" th:if="!${user}"><i class="fa fa-sign-in" ></i> <span>Kirish</span></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/article/list' ? 'active':''}">
                        <a th:href="@{/article/list}" title="Maqolalar"><i class="fa fa-user" ></i> <span>Maqolalar</span></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/auth' ? 'active':''}">
                        <a th:href="@{/user/}+${user.id}" title="Foydalanuvchi" th:if="${user}"><i class="fa fa-user" ></i> <span>Foydalanuvchi</span></a>
                    </li>
                    <!--<li><a href="#"><i class="fa fa-user"></i> <span>Foydalanuvchilar</span></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-star"></i> <span>Unvonlar</span></a></li>-->
                    <li class="add-question"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/question/add' ? 'active':''}">
                        <a th:href="@{/question/add}" title="Savol so'rash">
                            <i class="fa fa-plus"></i>
                            <span>Savol so'rash</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:fragment="pagination (page)">
    <div class="pagination-wrap" th:if="${page.getTotalPages()>1}">
        <ul class="list pagination-list">
            <li th:if="${page.hasPrevious()}"><a th:href="'?page='+${page.number-1}" title="Oldingisi">Oldingisi</a>
            </li>
            <li th:each="i: ${#numbers.sequence(1, page.getTotalPages())}"
                th:classappend="${page.getNumber()+1==i}?'active':''"
                th:disabled="${page.getNumber()+1==i}">
                <a th:text="${i}" th:href="'?page='+${i-1}" th:attr="title=${i}"></a>
            </li>
            <li th:if="${page.hasNext()}"
            "><a th:href="'?page='+${page.number+1}" title="Keyingisi">Keyingisi</a></li>
        </ul>
        <!--<p>Siz <a href="#">javob berilmagan savollar</a>ga javob berishingiz mumkin. Undan tashqari-->
        <!--<a href="#">tanlagan taglaringiz</a> bo'yicha savollarni ko'rishingiz mumkin.</p>-->
    </div>
</div>
<div class="footer-wrap" th:fragment="footer">
    <div class="container">
        <div class="row extra-links">
            <div class="col-xs-12 col-sm-4">
                <h2 class="title">Qoidalar</h2>
                <ul class="list">
                    <li><a href="#">Foydalanish tartibi qanday?</a></li>
                    <li><a href="#">Nimalar taqiqlangan?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2 class="title">Qoidalar</h2>
                <ul class="list">
                    <li><a href="#">Foydalanish tartibi qanday?</a></li>
                    <li><a href="#">Nimalar taqiqlangan?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2 class="title">Qoidalar</h2>
                <ul class="list">
                    <li><a href="#">Foydalanish tartibi qanday?</a></li>
                    <li><a href="#">Nimalar taqiqlangan?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                    <li><a href="#">Nima uchun foydalanuvchilar o'chiraldi?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <p>&copy; 2015-2016 - <a href="#">Query.uz</a>(Dizayn / Logo) Hamma huquqlar himoyalangan.</p>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <p class="right-side">Dasturlash sohasidagi talaba va dasturchilarni qo'llab quvvatlaymiz</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./ footer-wrap -->
</body>
</html>