<div xmlns:th="http://www.thymeleaf.org" th:fragment="comment-list">
    <ul class="list comment-list" class="hide">
        <li>Qaysi holatligini aniqlashtirish kerak savolda. <a href="#">Savol berish haqida</a>
            ni o'qib chiqing. <span class="date"><i
                    class="fa fa-calendar"></i> 21.01.2015</span></li>
        <li><a href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
            berish haqida</a> ni o'qib chiqing. <a href="#">Qaysi holatligini aniqlashtirish
            kerak </a> savolda. <a href="#">Savol berish haqida</a> ni o'qib chiqing. <a
                href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
            berish haqida</a> ni o'qib chiqing. <span class="date"><i
                class="fa fa-calendar"></i> 21.01.2015</span></li>
        <li>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
            Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar!
                        <span class="date"><i
                                class="fa fa-calendar"></i> 21.01.2015</span>
        </li>
        <li>
            <form action="#" class="form-comment">

                <textarea class="textare-comment">Izoh</textarea>

                <p>Eng kamida yana <strong>150</strong> ta simvol yozishingiz kerak. </p>
            </form>
            <ul class="list buttons">
                <li><a href="#">Izoh qo'shish</a></li>
                <li>|</li>
                <li><a href="#">Qolgan 5 ta izohni ko'rish</a></li>
            </ul>
        </li>
    </ul>
</div>