<div class="post-wrap" th:fragment="details">


<div class="post-item question-item">
    <h2 class="title">
        <a href="#" class="question-link" th:text="${question.title}"></a>
        <span class="status" th:if="${question.statusType.name != 'Opened'}"><i class="fa fa-stop"></i></span>
        <span class="warning" th:if="${question.flagType.name != 'None'}"><i class="fa fa-warning"></i></span>
    </h2>
    <div class="clearfix" th:if="${question.statusType.name != 'Hided'}">
        <div class="box-feature pull-right">
            <div th:if="${question.flagType.name=='None'} or ${question.flagType.name!='Danger'} and ${question.flagType.name!='Spam'}">
            <div class="box vote up"
                 th:classappend="${question.voteRank()>0?'marked-up':question.voteRank()<0?'marked-down':'a'}">
                <div class="row icons up"><i class="fa fa-angle-up"></i></div>
                <div class="row number-box">
                    <span class="count" th:text="${question.voteCount}"></span>
                </div>
                <div class="row icons down"><i class="fa fa-angle-down"></i></div>
            </div>
            <div class="box bookmark marked">
                <div class="row icons"><i class="fa fa-star marked"></i></div>
                <div class="row number-box"><span class="count" th:text="${question.voteCount}">0</span></div>
            </div>
            </div>
        </div>
        <div class="box-content">
            <div class="question-linked" th:if="${question.statusLink} and ${question.statusType.name != 'Opened'}">
                <a th:href="@{${question.statusLink}}" th:text="${question.statusLink}"></a>
            </div>
            <div th:uText="${question.content}"
                 th:if="${question.flagType.name=='None'} or ${question.flagType.name!='Danger'} and ${question.flagType.name!='Spam'}"></div>
            <div class="flag-box warning" th:if="${question.flagType.name != 'None'}">
                <i class="fa fa-warning"></i>
                <span th:uText="${question.flagType.description}"></span>
            </div>
            <ul class="list tag-list" th:if="${question.tags.size()}">
                <li th:each="tag: ${question.tags}"><a href="#" th:text="${tag.title}">Ajax</a></li>
            </ul>
            <div class="footer clearfix">
                <div class="pull-right">
                    <div class="who-box pull-left">
                        <p class="date"><span
                                th:text="${#dates.format(question.creationDate, 'dd/MM/YYYY')}"></span> da
                            savol
                            berildi</p>

                        <div th:replace="fragments/user :: box(user = ${question.owner})"></div>
                    </div>
                </div>
                <ul class="list action-list pull-left">
                    <li><a href="#"><i class="fa fa-share"></i> <span>Ulashish</span></a></li>
                    <li><a th:href="@{/question/edit/}+${question.id}"><i class="fa fa-edit"></i>
                        <span>Tahrirlash</span></a>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            <i class="fa fa-stop"></i>
                            <span>Statuslash</span>
                        </a>

                        <div class="dropdown">
                            <i class="close fa fa-close"></i>

                            <form th:action="@{/stateStatusOfQuestion}" th:object="${question}" method="POST">
                                <div class="field-row">
                                    <input type="hidden" name="parentId" th:value="${question.getId()}">
                                    <input type="hidden" name="postId" th:value="${question.getId()}">
                                    <input type="hidden" name="postType" th:value="${question.postType.name}">

                                    <strong>Bu post haqida quyidagi statuslarni tanlashingiz mumkin</strong>
                                </div>
                                <div class="field-row">
                                    <span class="label">Status tipi:</span>

                                    <div class="form-field">
                                        <select name="statusType" th:field="${question.statusType}">
                                            <option th:each="type : ${statusTypeList}"
                                                    th:value="${type.name}"
                                                    th:text="${type.title}"></option>
                                        </select>
                                    </div>
                                    <span class="label">Savolni biriktirish manzili: </span>

                                    <div class="form-field">
                                        <input type="text" name="statusLink" th:value="${question.statusLink}"/>
                                    </div>
                                    <span class="label">Status uchun sabab: <span class="required">*</span></span>

                                    <div class="form-field">
                                        <input type="text" name="reason" th:value="${question.reason}" required/>
                                    </div>
                                </div>
                                <div class="field-row">
                                    <input class="btn btn-orange shdw-1x" type="submit" value="Ogohlantirish"/>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            <i class="fa fa-warning"></i>
                            <span>Ogohlantirish</span>
                        </a>

                        <div class="dropdown">
                            <i class="close fa fa-close"></i>

                            <form th:action="@{/warnAdministration}" th:object="${question}" method="POST">
                                <div class="field-row">
                                    <input type="hidden" name="parentId" th:value="${question.getId()}">
                                    <input type="hidden" name="postId" th:value="${question.getId()}">
                                    <input type="hidden" name="postType" th:value="${question.postType.name}">

                                    <strong>Bu post haqida quyidagi statuslarni tanlashingiz mumkin</strong>
                                </div>
                                <div class="field-row">
                                    <ul class="flag-list list">
                                        <li th:each="flag: ${flagTypeList}">
                                            <label>
                                                <input type="radio" name="flag" th:value="${flag.name}"
                                                       th:text="${flag.label}" th:checked="*{flagType.name} == ${flag.name}"/>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="field-row">
                                    Ogohlantirish matni:
                                    <div class="form-field">
                                        <input type="text" name="reason"/>
                                    </div>
                                </div>
                                <div class="field-row">
                                    <input class="btn btn-orange shdw-1x" type="submit" value="Ogohlantirish"/>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/question/delete/}+${question.id}">
                            <i class="fa fa-trash"></i>
                            <span>O'chirish</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post-status" th:object="${question}" th:if="${question.statusType.name != 'Opened'}">
        <h4 class="title">Ushbu savol
            <a href="#" th:if="*{owner}" th:text="*{owner.displayName}"></a>
            tomonidan
            <span class="has-dropdown">
                <a href="#" class="status" th:text="*{statusType.title}"></a>

                <div class="dropdown">
                    <i class="close fa fa-close"></i>

                    <form th:action="@{/stateStatusOfQuestion}" th:object="${question}" method="POST">
                        <div class="field-row">
                            <input type="hidden" name="parentId" th:value="${question.getId()}">
                            <input type="hidden" name="postId" th:value="${question.getId()}">
                            <input type="hidden" name="postType" th:value="${question.postType.name}">

                            <strong>Bu post haqida quyidagi statuslarni tanlashingiz mumkin</strong>
                        </div>
                        <div class="field-row">
                            <span class="label">Status tipi:</span>

                            <div class="form-field">
                                <select name="statusType" th:field="${question.statusType}">
                                    <option th:each="type : ${statusTypeList}"
                                            th:value="${type.name}"
                                            th:text="${type.title}"></option>
                                </select>
                            </div>
                            <span class="label">Savolni biriktirish manzili: </span>

                            <div class="form-field">
                                <input type="text" name="statusLink" th:value="${question.statusLink}"/>
                            </div>
                            <span class="label">Status uchun sabab: <span class="required">*</span></span>

                            <div class="form-field">
                                <input type="text" name="reason" th:value="${question.reason}" required/>
                            </div>
                        </div>
                        <div class="field-row">
                            <input class="btn btn-orange shdw-1x" type="submit" value="Ogohlantirish"/>
                        </div>
                    </form>
                </div>
            </span>
            statusi bilan
            belgilandi. Va yuqorida linkga biriktirildi.
        </h4>

        <p><strong>Sababi sifatida:</strong> <span th:text="*{reason}"></span></p>
    </div>
</div>
<!-- / Question Post end-->

<!--<div th:replace="fragments/filters :: filter-box"></div>-->

<div class="answers-wrap" th:if="${question.statusType.name != 'Hided'}">

    <div class="post-item answer-item" th:each="answer: ${question.answers}">
        <div class="clearfix">
            <div class="box-feature pull-right" >
                <div class="box vote up" th:if="${answer.flagType.name =='None'} or ${answer.flagType.name !='Danger'} and ${answer.flagType.name !='Spam'}">
                    <div class="row icons"><i class="fa fa-angle-up marked"></i></div>
                    <div class="row number-box"><span class="count" th:text="${answer.voteCount}">0</span></div>
                    <div class="row icons"><i class="fa fa-angle-down"></i></div>
                </div>
            </div>
            <div class="box-content">
                <div th:uText="${answer.content}"
                     th:if="${answer.flagType.name =='None'} or ${answer.flagType.name !='Danger'} and ${answer.flagType.name !='Spam'}"></div>
                <div class="flag-box warning" th:if="${answer.flagType.name != 'None'}">
                    <i class="fa fa-warning"></i>
                    <span th:uText="${answer.flagType.description}"></span>
                </div>
                <div class="footer clearfix">
                    <div class="pull-right">
                        <div class="who-box pull-left">
                            <p class="date"><span th:text="${#dates.format(answer.creationDate, 'dd/MM/YYYY')}"></span>
                                da
                                savol
                                berildi</p>

                            <div th:replace="fragments/user :: box(user = ${answer.owner})"></div>
                        </div>
                    </div>
                    <ul class="list action-list pull-left">
                        <li><a href="#"><i class="fa fa-share"></i> <span>Ulashish</span></a></li>
                        <li><a th:href="@{/question/edit/}+${question.id}"><i class="fa fa-edit"></i>
                            <span>Tahrirlash</span></a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">
                                <i class="fa fa-warning"></i>
                                <span>Ogohlantirish</span>
                            </a>

                            <div class="dropdown">
                                <i class="close fa fa-close"></i>

                                <form th:action="@{/warnAdministration}" th:object="${answer}" method="POST">
                                    <div class="field-row">
                                        <input type="hidden" name="parentId" th:value="${question.id}">
                                        <input type="hidden" name="postId" th:value="*{id}">
                                        <input type="hidden" name="postType" th:value="*{postType.name}">

                                        <strong>Bu post haqida quyidagi statuslarni tanlashingiz mumkin</strong>
                                    </div>
                                    <div class="field-row">
                                        <ul class="flag-list list">
                                            <li th:each="flag: ${flagTypeList}">
                                                <label>
                                                    <input type="radio" name="flag" th:value="${flag.name}"
                                                           th:text="${flag.label}" th:checked="*{flagType.name} == ${flag.name}"/>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="field-row">
                                        Ogohlantirish matni:
                                        <div class="form-field">
                                            <input type="text" name="reason"/>
                                        </div>
                                    </div>
                                    <div class="field-row">
                                        <input class="btn btn-orange shdw-1x" type="submit" value="Ogohlantirish"/>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a th:href="@{/question/delete/}+${question.id}">
                                <i class="fa fa-trash"></i>
                                <span>O'chirish</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- / Answer Post end-->

    <div class="post-item answer-item answer-form" th:if="!${isDisabledAddingAnswer}">
        <form th:action="@{/question/add_answer}" th:object="${newAnswer}" method="POST">
            <div class="field-row">

                <h3 class="title">Sizning Javobingiz</h3>

                <div class="text-editor">

                    <div class="wmd-panel">
                        <div id="wmd-button-bar" class="wmd-button-bar"></div>
                        <textarea class="wmd-input" id="wmd-input" th:field="*{editorContent}">This is the *first*
                            editor. </textarea>
                    </div>

                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    <input type="hidden" name="questionId" th:value="${question.id}"/>
                    <textarea id="txt-preview" class="hide" readonly="true"
                              th:field="*{content}"></textarea>


                </div>
            </div>

            <div class="field-row footer">
                <input type="submit" class="btn btn-green shdw-2x" value="Javob berish">
            </div>
            <script>
                $(document).ready(function () {
                    $("[type=submit]").on("click", function () {
                        var hasError = false;
                        var parent = $(this).closest("form");
                        parent.find("[type=text], textarea").each(function () {
                            var field = $(this);
                            if (!field.attr('readonly') && !field.is(':hidden')) {
                                $("#txt-preview").val($("#wmd-preview").html());

                                if ((field.is("input") || field.is("textarea") ) && !field.val()) {
                                    hasError = true;
                                    field.addClass("error-field");
                                } else {
                                    field.removeClass("error-field");
                                }
                            }
                        })
                        if (hasError)
                            return false;
                    });
                });
            </script>
        </form>
    </div>
    <!-- / Add Answer end-->

</div>

</div>

