<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="footer clearfix" th:fragment="post-footer">
    <div class="pull-right">
        <div class="who-box pull-left">
            <p class="date">15.05.2015 da savol berildi</p>

            <div th:replace="fragments/user :: box(user = ${question.owner})"></div>
        </div>

        <div class="who-box pull-right">
            <p class="date"><a href="#">15.05.2015 da tahrir qilindi</a></p>

            <div th:replace="fragments/user :: box(user=${question.owner})"></div>

        </div>
    </div>
    <ul class="list action-list pull-left">
        <li><a href="#"><i class="fa fa-share"></i> <span>Ulashish</span></a></li>
        <li><a th:href="@{/question/edit/}+${question.id}"><i class="fa fa-edit"></i>
            <span>Tahrirlash</span></a>
        </li>
        <li><a href="#"><i class="fa fa-warning"></i> <span>Ogohlantirish</span></a></li>
        <li><a th:href="@{/question/delete/}+${question.id}"><i class="fa fa-trash"></i>
            <span>O'chirish</span></a>
        </li>
    </ul>

</div>

</body>
</html>