<div th:fragment="q-list">
<div class="filter-box clearfix">
    <ul class="list filter-list clearfix pull-left">
        <li><a href="#"><i class="box-count">Java</i> Haqida</a></li>
        <li class="active"><a href="#"><i class="box-count">522</i> Oxirgi</a></li>
        <li><a href="#"><span class="fa fa-caret-up"></span> Top</a></li>
        <li><a href="#">Javobsiz <i class="box-count">522</i> </a></li>
        <li><a href="#">Qiziq</a></li>
    </ul>
    <h3 class="title pull-right">Oxirgi savollar</h2>
</div>
<div class="post-wrap">
<table class="questions-table">
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr class="important">
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>
    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box  has-correct has-answer">
            <span class="count ">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box ">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr class="important">
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>
    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box  has-correct has-answer">
            <span class="count ">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box ">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr class="important">
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>
    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box  has-correct has-answer">
            <span class="count ">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box ">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr class="important">
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>
    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box  has-correct has-answer">
            <span class="count ">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box ">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr class="important">
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>
    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box  has-correct has-answer">
            <span class="count ">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box ">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr class="important">
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>
    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box  has-correct has-answer">
            <span class="count ">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box ">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
<tr>
    <td class="text">
        <a href="#" class="question-link">Qanday qilib JavaScriptda Internet bor yo'qligini
            tekshiriladi?</a>

        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="question-activity">
            <a href="#">Sardorjon</a> <span class="reputation">(512)</span> tomonidan 5 soat
            avval savol berildi
        </div>
    </td>

    <td class="number votes">
        <div class="number-box">
            <span class="count">0</span>
            <span class="text">ovoz</span>
        </div>
    </td>
    <td class="number answers">
        <div class="number-box">
            <span class="count">2</span>
            <span class="text">javob</span>
        </div>
    </td>
    <td class="number views">
        <div class="number-box">
            <span class="count">28</span>
            <span class="text">ko'rilgan</span>
        </div>
    </td>
</tr>
</table>
<div class="pagination-wrap">
    <ul class="list pagination-list">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    <p>Siz <a href="#">javob berilmagan savollar</a>ga javob berishingiz mumkin. Undan tashqari
        <a href="#">tanlagan taglaringiz</a> bo'yicha savollarni ko'rishingiz mumkin.</p>
</div>
</div>
</div>