<div xmlns:th="http://www.thymeleaf.org" th:fragment="q-list">
    <div class="filter-box clearfix">
        <ul class="list filter-list clearfix pull-left">
            <li><a href="#"><i class="box-count">Java</i> Haqida</a></li>
            <li class="active"><a href="#"><i class="box-count">522</i> Oxirgi</a></li>
            <li><a href="#"><span class="fa fa-caret-up"></span> Top</a></li>
            <li><a href="#">Javobsiz <i class="box-count">522</i> </a></li>
            <li><a href="#">Qiziq</a></li>
        </ul>
        <h3 class="title pull-right">Oxirgi savollar</h3>
    </div>
    <div class="post-wrap">
        <table class="questions-table">
            <tr th:each="question: ${questionPage}"
                th:classappend="${question.answers.size()>0}?important:''">
                <td class="text">
                    <a th:href="@{/question/}+${question.id}" class="question-link"
                       th:text="${question.questionTitle}"></a>

                    <ul class="list tag-list" th:if="${question.tags.size()}">
                        <li th:each="tag: ${question.tags}"><a href="#" th:text="${tag.name}">Ajax</a></li>
                    </ul>
                    <div class="question-activity">
                        <a href="#" th:text="${question.questionOwner.fullName}">Foydalanuvchi</a>
                        <span class="reputation" th:text="${'('+question.questionOwner.reputation+')'}"></span>
                        tomonidan <span th:text="${#dates.format(question.creationDate, 'dd/MM/YYYY')}"></span>
                        da savol berildi
                    </div>
                </td>

                <td class="number votes">
                    <div class="number-box">
                        <span class="count" th:text="${question.voteCount}">0</span>
                        <span class="text">ovoz</span>
                    </div>
                </td>
                <td class="number answers">
                    <div class="number-box"
                         th:classappend="${question.answers.size()>1}?'has-correct has-answer':''">
                        <span class="count" th:text="${question.answers.size()}">0</span>
                        <span class="text">javob</span>
                    </div>
                </td>
                <td class="number views">
                    <div class="number-box">
                        <span class="count" th:text="${question.seenCount}">0</span>
                        <span class="text">ko'rilgan</span>
                    </div>
                </td>
            </tr>
        </table>
        <div th:replace="fragments/init :: pagination(page=${questionPage})"></div>
    </div>
</div>