<div xmlns:th="http://www.thymeleaf.org" class="side-wrap" th:fragment="side-wrap">
<div class="current-site-box">

<div class="widget-box">
    <div class="user-box show-cover">
        <div class="cover-bg">
            <img src="../images/material-design-rainbow1.png" alt="photo"/>
        </div>
        <div class="clearfix">
            <div class="user-image pull-left">
                <a href="#"><img src="../images/N5.jpg" alt="user"/></a>
            </div>
            <div class="user-short-content">
                <a class="name">Assalomu Alaykum. Bu yerda ismi familiya</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
            </div>
            <div class="user-content">
                <h4 class="job">Full stack developer</h4>

                <p>Full stack developer Full stack developer Full stack developer Full stack developer</p>

                <p>Full <a href="#">stack developer Full stack developer Full stack developer</a> Full stack developer
                </p>
                <ul class="list extra-list">
                    <li><i class="fa fa-location-arrow"></i> Address: <a href="#">O'zbekiston, Tashkent</a></li>
                    <li><i class="fa fa-phone"></i> Tel: <a href="#">+99825 125-25-52</a></li>
                    <li><i class="fa fa-facebook"></i> Facebook: <a href="#">O'zbekiston, Tashkent</a></li>
                    <li><i class="fa fa-twitter"></i> Twitter: <a href="#">O'zbekiston, Tashkent</a></li>
                </ul>
                <div class="footer">
                    <button class="btn btn-blue">Rezumeni ko'rish</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-box">

    <form action="#" class="form-search">
        <label for="srch">Izlash</label>
        <input type="text"/>
    </form>
</div>
<div class="widget-box pinned questions content-box">
    <h3 class="title">Saytimizga hush kelibsiz</h3>
    <ul class="list tip-list">
        <li><a href="#">Ovoz berishim shartmi?</a></li>
        <li><a href="#">Sayt stackoverflow.com saytidan olinganmi?</a></li>
        <li><a href="#">Saytda nimalar taqiqlangan?</a></li>
        <li><a href="#">Nimaga uyga vazifa, Kurs ishini savol qilib berib bulmaydi?</a></li>
        <li><a href="#">Nimaga uyga vazifa, Kurs ishini savol qilib berib bulmaydi?</a></li>
    </ul>
</div>

<div class="widget-box banner">
    <a href="#"><img src="../images/material-design-rainbow1.png" alt="photo"/></a>
</div>
<div class="widget-box tags">
    <h3 class="title">Tanlangan teglar</h3>
    <ul class="list tag-list">
        <li><a href="#">Java</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">C#</a></li>
        <li><a href="#">C++</a></li>
        <li><a href="#">database</a></li>
        <li><a href="#">oracle</a></li>
        <li><a href="#">ruby</a></li>
    </ul>
</div>
<div class="widget-box top-questions">
    <h3 class="title">Top savollar</h3>
    <ul class="list question-list">
        <li><span class="vote">525</span> <a href="#">Ovoz berishim shartmi?</a></li>
        <li><span class="vote">52,500</span> <a href="#">Userlar o'chirilish sababi!</a></li>
        <li><span class="vote">0</span> <a href="#">Saytda nimalar taqiqlangan?</a></li>
        <li><span class="vote">15</span> <a href="#">Nimaga uyga vazifa, Kurs ishini savol qilib berib
            bulmaydi?</a></li>
        <li><span class="vote">525</span> <a href="#">Nimaga uyga vazifa, Kurs ishini savol qilib berib
            bulmaydi?</a></li>
    </ul>
</div>
<div class="widget-box top-users">
    <h3 class="title">Top foydalanuvchilar</h3>
    <ul class="list user-list">
        <li>
            <div class="user-box">
                <div class="cover-bg">
                    <img src="../images/material-design-rainbow1.png" alt="photo"/>
                </div>
                <div class="clearfix">
                    <div class="user-image pull-left">
                        <a href="#"><img src="../images/N5.jpg" alt="user"/></a>
                    </div>
                    <div class="user-short-content">
                        <a class="name">Assalomu Alaykum. Bu yerda ismi familiya</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                    </div>
                    <div class="user-content">
                        <h4 class="job">Full stack developer</h4>

                        <p>Full stack developer Full stack developer Full stack developer Full stack developer</p>

                        <p>Full <a href="#">stack developer Full stack developer Full stack developer</a> Full stack
                            developer</p>
                        <ul class="list extra-list">
                            <li><i class="fa fa-location-arrow"></i> Address: <a href="#">O'zbekiston, Tashkent</a></li>
                            <li><i class="fa fa-phone"></i> Tel: <a href="#">+99825 125-25-52</a></li>
                            <li><i class="fa fa-facebook"></i> Facebook: <a href="#">O'zbekiston, Tashkent</a></li>
                            <li><i class="fa fa-twitter"></i> Twitter: <a href="#">O'zbekiston, Tashkent</a></li>
                        </ul>
                        <div class="footer">
                            <button class="btn btn-blue">Rezumeni ko'rish</button>
                        </div>
                    </div>
                </div>
            </div>

        </li>
        <li>
            <div class="user-box">
                <div class="cover-bg">
                    <img src="../images/material-design-rainbow1.png" alt="photo"/>
                </div>
                <div class="clearfix">
                    <div class="user-image pull-left">
                        <a href="#"><img src="../images/N5.jpg" alt="user"/></a>
                    </div>
                    <div class="user-short-content">
                        <a class="name">Ism Familiya</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="user-box">
                <div class="cover-bg">
                    <img src="../images/material-design-rainbow1.png" alt="photo"/>
                </div>
                <div class="clearfix">
                    <div class="user-image pull-left">
                        <a href="#"><img src="../images/N5.jpg" alt="user"/></a>
                    </div>
                    <div class="user-short-content">
                        <a class="name">Ism Familiya</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="user-box">
                <div class="cover-bg">
                    <img src="../images/material-design-rainbow1.png" alt="photo"/>
                </div>
                <div class="clearfix">
                    <div class="user-image pull-left">
                        <a href="#"><img src="../images/N5.jpg" alt="user"/></a>
                    </div>
                    <div class="user-short-content">
                        <a class="name">Ism Familiya</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="user-box">
                <div class="cover-bg">
                    <img src="../images/material-design-rainbow1.png" alt="photo"/>
                </div>
                <div class="clearfix">
                    <div class="user-image pull-left">
                        <a href="#"><img src="../images/N5.jpg" alt="user"/></a>
                    </div>
                    <div class="user-short-content">
                        <a class="name">Ism Familiya</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="widget-box partners">
    <h3 class="title">Hamkor saytlar</h3>
    <ul class="list partner-list">
        <li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>
        <li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>
        <li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>
        <li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>
    </ul>
</div>
</div>
</div>
