<div xmlns:th="http://www.thymeleaf.org" class="side-wrap" th:fragment="side-wrap">
    <div class="current-site-box">
        <div class="widget-box" th:if="${user}">
            <div th:replace="fragments/user :: box(user = ${user})"></div>
        </div>
        <div class="widget-box" th:if="!${user}">
            <ul class="list">
                <li><a th:href="@{/auth}">Kirish / Ro'yxatdan o'tish</a></li>
            </ul>
        </div>
        <div class="widget-box pinned questions content-box">
            <h3 class="title">Saytimizga hush kelibsiz</h3>
            <ul class="list tip-list">
                <li><a href="#">Ovoz berishim shartmi?</a></li>
                <li><a href="#">Sayt stackoverflow.com saytidan olinganmi?</a></li>
                <li><a href="#">Saytda nimalar taqiqlangan?</a></li>
                <li><a href="#">Nimaga uyga vazifa, Kurs ishini savol qilib berib bulmaydi?</a></li>
                <li><a href="#">Nimaga uyga vazifa, Kurs ishini savol qilib berib bulmaydi?</a></li>
            </ul>
        </div>

        <div class="widget-box banner" th:if="${user}">
            <a href="#"><img th:src="@{/images/material-design-rainbow1.png}" alt="photo"/></a>
        </div>
        <div class="widget-box tags" th:if="${user}">
            <h3 class="title">Top teglar</h3>
            <ul class="list tag-list">
                <li><a href="#">Java</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">database</a></li>
                <li><a href="#">oracle</a></li>
                <li><a href="#">ruby</a></li>
            </ul>
        </div>
        <div class="widget-box top-questions" th:if="${user} and ${topQuestions}">
            <h3 class="title">Top savollar</h3>
            <table class="stat-table">
                <tr th:each="question : ${topQuestions}">
                    <!--<td class="count" th:text="${question.voteCount}">55</td>-->
                    <td class="count">5500</td>
                    <td class="description"><a href="#" class="question-link" th:text="${question.title}"></a></td>
                </tr>
            </table>
        </div>
        <div class="widget-box top-questions" th:if="${user} and ${relatedQuestions}">
            <h3 class="title">Top savollar</h3>
            <table class="stat-table">
                <tr th:each="question : ${relatedQuestions}">
                    <!--<td class="count" th:text="${question.voteCount}">55</td>-->
                    <td class="count">5500</td>
                    <td class="description"><a href="#" class="question-link" th:text="${question.title}"></a></td>
                </tr>
            </table>
        </div>
        <!--<div class="widget-box top-users" th:if="${#httpServletRequest.remoteUser}">-->
        <!--<h3 class="title">Top foydalanuvchilar</h3>-->
        <!--</div>-->

        <!--<div class="widget-box partners" th:if="${#httpServletRequest.remoteUser}">-->
        <!--<h3 class="title">Hamkor saytlar</h3>-->
        <!--<ul class="list partner-list">-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>
