<div xmlns:th="http://www.thymeleaf.org" class="side-wrap" th:fragment="side-wrap">
    <div class="current-site-box">
        <div class="widget-box" th:if="${user}">
            <div th:replace="fragments/user :: widget(user = ${user})"></div>
            <ul class="list feature-list">
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="widget-box pinned questions content-box" th:if="${rulesList}">
            <h3 class="title">Sayt haqida savollar</h3>
            <ul class="list tip-list">
                <li th:each="question : ${rulesList}"><a th:attr="title=${question.title}" th:href="${question.postLink}" th:text="${question.title}"></a>
                </li>
            </ul>
        </div>

        <div class="widget-box banner" th:if="${user}">
            <a href="#"><img th:src="@{/images/material-design-rainbow1.png}" alt="photo"/></a>
        </div>
        <div class="widget-box tags" th:if="${user} and ${tagList}">
            <h3 class="title">Top teglar</h3>
            <ul class="list tag-list">
                <li th:each="tag: ${tagList}"><a th:href="${tag.postLink}" th:text="${tag.title}"></a></li>
            </ul>
        </div>
        <div class="widget-box top-questions" th:if="${user} and ${topQuestions}">
            <h3 class="title">Top savollar</h3>
            <table class="stat-table">
                <tr th:each="question : ${topQuestions}">
                    <!--<td class="count" th:text="${question.voteCount}">55</td>-->
                    <td class="count">5500</td>
                    <td class="description"><a href="#" class="question-link" th:text="${question.title}"></a></td>
                </tr>
            </table>
        </div>
        <div class="widget-box top-questions" th:if="${user} and ${relatedQuestions}">
            <h3 class="title">Top savollar</h3>
            <table class="stat-table">
                <tr th:each="question : ${relatedQuestions}">
                    <!--<td class="count" th:text="${question.voteCount}">55</td>-->
                    <td class="count">5500</td>
                    <td class="description"><a href="#" class="question-link" th:text="${question.title}"></a></td>
                </tr>
            </table>
        </div>
        <!--<div class="widget-box top-users" th:if="${#httpServletRequest.remoteUser}">-->
        <!--<h3 class="title">Top foydalanuvchilar</h3>-->
        <!--</div>-->

        <!--<div class="widget-box partners" th:if="${#httpServletRequest.remoteUser}">-->
        <!--<h3 class="title">Hamkor saytlar</h3>-->
        <!--<ul class="list partner-list">-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--<li><i class="fa fa-apple"></i> <a href="#">meta.query.uz</a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>
