<div xmlns:th="http://www.thymeleaf.org" th:fragment="about">
<div class="filter-box clearfix">
    <ul class="list filter-list clearfix pull-left">
        <li class="active"><a href="#"><i class="box-count">Java</i> Haqida</a></li>
        <li><a href="#"><i class="box-count">522</i> Oxirgi</a></li>
        <li><a href="#"><span class="fa fa-caret-up"></span> Top</a></li>
        <li><a href="#">Javobsiz <i class="box-count">522</i> </a></li>
        <li><a href="#">Qiziq</a></li>
    </ul>
    <h2 class="title pull-right">Oxirgi savollar</h2>
</div>
<div class="post-wrap">
<div class="text-wrap">

<h2>About <a th:href="'/tag/' + ${tag.title}" th:text="${tag.title}" class="post-tag" title="" rel="tag">java</a></h2>

<div class="welovestackoverflow" id="wiki-excerpt">
    <p style="border: solid 1px gray;margin-right: 20px;padding: 10px;" th:text="${tag.shortDescription}"></p>
</div>
<p th:utext="${tag.content}"></p>
</div>
</div>
</div>