<div th:fragment="about">
<div class="filter-box clearfix">
    <ul class="list filter-list clearfix pull-left">
        <li class="active"><a href="#"><i class="box-count">Java</i> Haqida</a></li>
        <li><a href="#"><i class="box-count">522</i> Oxirgi</a></li>
        <li><a href="#"><span class="fa fa-caret-up"></span> Top</a></li>
        <li><a href="#">Javobsiz <i class="box-count">522</i> </a></li>
        <li><a href="#">Qiziq</a></li>
    </ul>
    <h3 class="title pull-right">Oxirgi savollar</h2>
</div>
<div class="post-wrap">
<div class="text-wrap">

<h2>About <a href="/questions/tagged/java" class="post-tag" title="" rel="tag">java</a></h2>

<div class="welovestackoverflow" id="wiki-excerpt">
    <p>
        Java (not to be confused with JavaScript) is a general-purpose object-oriented programming language designed to
        be used in conjunction with the Java Virtual Machine (JVM). "Java platform" is the name for a computing system
        that has installed tools for developing and running Java programs. Use this tag for questions referring to Java
        programming language or Java platform tools.
    </p>
</div>

<p><a href="https://www.java.com/en/" rel="nofollow">Java</a> is a <em>high-level</em>, <em>platform-independent</em>,
    <em><a href="https://en.wikipedia.org/wiki/Object-oriented_programming" rel="nofollow">object-oriented</a></em>
    programming language and run-time environment. The Java language derives much of its syntax from <a
            href="/questions/tagged/c" class="post-tag" title="show questions tagged 'c'" rel="tag">c</a> and <a
            href="/questions/tagged/c%2b%2b" class="post-tag" title="show questions tagged 'c++'" rel="tag">c++</a>, but
    its object model is simpler than that of <a href="/questions/tagged/c%2b%2b" class="post-tag"
                                                title="show questions tagged 'c++'" rel="tag">c++</a> and it has fewer
    low-level facilities. Java applications are typically compiled to <strong>bytecode</strong> (called
    <strong>class</strong> files) that can be executed by a <a href="/questions/tagged/jvm" class="post-tag"
                                                               title="show questions tagged 'jvm'" rel="tag">jvm</a>(Java
    Virtual Machine), independent of computer architecture. The JVM often further compiles code to native machine code
    to optimize performance.</p>

<p>The JVM manages memory with the help of a <strong>garbage collector</strong> (see <a
        href="/questions/tagged/garbage-collection" class="post-tag" title="show questions tagged 'garbage-collection'"
        rel="tag">garbage-collection</a>) in order to handle object removal from memory when not used any more. Java's
    <a href="https://en.wikipedia.org/wiki/Type_system" rel="nofollow">typing discipline</a> is static, strong, safe,
    nominative, and manifest. Java supports features such as reflection and interfacing with <a
            href="/questions/tagged/c" class="post-tag" title="show questions tagged 'c'" rel="tag">c</a> and <a
            href="/questions/tagged/c%2b%2b" class="post-tag" title="show questions tagged 'c++'" rel="tag">c++</a> via
    <a href="/questions/tagged/jni" class="post-tag" title="show questions tagged 'jni'" rel="tag">jni</a>.</p>

<p><a href="/questions/tagged/java" class="post-tag" title="show questions tagged 'java'" rel="tag">java</a> is designed
    to have as few implementation dependencies as possible, intended to allow application developers to "<strong>write
        once, run anywhere</strong>" (<a href="https://en.wikipedia.org/wiki/Write_once,_run_anywhere" rel="nofollow">WORA</a>):
    code that executes on one platform does not need to be recompiled to run on another machine. Java was originally
    developed by <a href="https://en.wikipedia.org/wiki/James_Gosling" rel="nofollow">James Gosling</a> at Sun
    Microsystems (which merged with Oracle Corporation on April 20, 2009) and was released in 1995 as a core component
    of Sun Microsystems' Java platform.</p>

<p>The <a href="https://en.wikibooks.org/wiki/Java_Programming/The_Java_Platform" rel="nofollow">Java platform</a> is
    the name given by Sun (now Oracle) to computing systems that have installed tools for developing and running Java
    programs. The platform features a wide variety of tools that can help developers work efficiently with the Java
    programming language.</p>

<p>The platform consists of two essential software packages:</p>

<ul>
    <li>the <strong>Java Runtime Environment (JRE)</strong>, which is needed to <em>run</em> Java applications and
        applets; and,
    </li>
    <li>the <strong>Java Development Kit (JDK)</strong>, which is needed to <em>develop</em> Java applications and
        applets. The JDK comes with a JRE.
    </li>
</ul>

<p>In this section, we will explore in further detail what these two software components of the Java platform do.</p>

<h2>Background</h2>

<p>The main reference implementation of Java is open source (the <a href="http://openjdk.java.net/" rel="nofollow">OpenJDK</a>),
    and is supported by major companies including Oracle, Apple, SAP and IBM.</p>

<p>Very few computers can run Java programs directly. Therefore, the Java environment is normally made available by
    installing a suitable software component. On Windows computers, this is usually done by downloading the free Java
    Runtime Environment (JRE) from <a href="https://www.java.com/en/" rel="nofollow">java.com</a>. On Macintosh
    computers, the user is prompted to download Java when an application requiring it is started. On <a
            href="/questions/tagged/linux" class="post-tag" title="show questions tagged 'linux'" rel="tag">linux</a>-like
    systems, Java is typically installed via the package manager.</p>

<p>Developers frequently need additional tools, which are available in the free Java Development Kit, which for Windows
    and Mac must be downloaded from <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html"
                                       rel="nofollow">Oracle</a> and installed manually.</p>

<p>Java is compiled into <a href="https://en.wikipedia.org/wiki/Bytecode" rel="nofollow">bytecode</a>, which is compiled
    by the JVM into native machine code. The compilation is done <a
            href="https://en.wikipedia.org/wiki/Just-in-time_compilation" rel="nofollow">just-in-time</a> (JIT). This
    was initially viewed as a performance hit, but JVM and JIT compilation improvements have made this less of a
    concern. In some cases, the JVM may even be faster than native code compiled to target an older version of a
    processor for backward-compatibility reasons.</p>

<p><strong>Note:</strong> Other vendors exist, though almost all have license fees. For <a
        href="/questions/tagged/linux" class="post-tag" title="show questions tagged 'linux'" rel="tag">linux</a> and
    other platforms, consult the operating system documentation.</p>

<h2>Versions</h2>

<p><strong>Notable Java versions, code names, and release dates include:</strong></p>

<pre class="lang-none prettyprint prettyprinted"><code><span class="pln">JDK 1.0                  (January 23, 1996)
JDK 1.1                  (February 19, 1997)
J2SE 1.2    [Playground] (December 8, 1998)
J2SE 1.3    [Kestrel]    (May 8, 2000)
J2SE 1.4    [Merlin]     (February 6, 2002)
J2SE 5.0    [Tiger]      (September 30, 2004)
Java SE 6   [Mustang]    (December 11, 2006)
Java SE 7   [Dolphin]    (July 28, 2011)
Java SE 8   [JSR 337]    (March 18, 2014)
Java SE 9   [TBD    ]    (Not yet released)</span></code></pre>

<p><strong>Latest Stable Versions:</strong></p>

<pre class="lang-none prettyprint prettyprinted"><code><span class="pln">Java Standard Edition 8 Update 66 (1.8.0_66) - (October 19, 2015)
Java Standard Edition 7 Update 79 (1.7.0_79) - (April 14, 2015)</span></code></pre>

<p>For more code names and release dates, visit <a
        href="http://www.oracle.com/technetwork/java/javase/codenames-136090.html" rel="nofollow">J2SE Code Names</a>.
    To see release notes for each version of the JDK, visit the <a
            href="https://en.wikipedia.org/wiki/Java_version_history" rel="nofollow">Wikipedia article</a> on Java
    version history.</p>

<p>Java SE 8 is now released and is <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html"
                                       rel="nofollow">available for download</a>.</p>

<p>The <a href="http://www.oracle.com/technetwork/java/eol-135779.html" rel="nofollow">End Of Public Updates</a>
    (Formerly called End Of Life) dates are:</p>

<pre class="lang-none prettyprint prettyprinted"><code><span class="pln">J2SE 1.4   -  Oct 2008
J2SE 5.0   -  Oct 2009
Java SE 6  -  Feb 2013
Java SE 7  -  Apr 2015
Java SE 8  -  Sep 2017</span></code></pre>

<h2>Initial help</h2>

<p>New to Java or need help to get your first Java program running? See the <a
        href="https://docs.oracle.com/javase/tutorial/getStarted/index.html" rel="nofollow">Oracle Java Tutorials
    section on Getting Started</a>.</p>

<p>Before asking a question, please use the search box in the upper-right corner to see if it has been asked before (we
    have many duplicates), and read the <a href="http://codeblog.jonskeet.uk/2010/08/29/writing-the-perfect-question/"
                                           rel="nofollow">Writing the perfect question</a> article to learn how to get
    Jon Skeet to answer your question.</p>

<h2>Naming conventions</h2>

<p>Java programs should adhere to the following <a href="https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html"
                                                   rel="nofollow">naming conventions</a> to increase readability and
    decrease chances of accidental errors. By following these naming conventions, you will make it easier for others to
    understand your code and help you.</p>

<ul>
    <li><strong>Type names</strong> (classes, interfaces, enums, etc.) should begin with a capital letter, and
        capitalize the first letter of each subsequent word. Examples include: <code>String</code>,
        <code>ThreadLocal</code>, and <code>NullPointerException</code>. This is sometimes known as pascal case.
    </li>
    <li><strong>Method names</strong> should be camelCased; that is, they should begin with a lowercase letter and
        capitalize the first letter of each subsequent word. Examples: <code>indexOf</code>,
        <code>printStackTrace</code>, <code>interrupt</code>.
    </li>
    <li><strong>Field names</strong> should be camelCased just like method names.</li>
    <li><strong>Constant expression names</strong> (<code>static final</code> immutable objects) should be written in
        ALL_CAPS, with underscores separating each word. Examples: <code>YELLOW</code>, <code>DO_NOTHING_ON_CLOSE</code>.
        This also applies to values of an <code>Enum</code> class. However, <code>static final</code> references to <em>non</em>-immutable
        objects should be camelCased.
    </li>
</ul>

<h2>Hello World - Your first program</h2>

<p>Code of <strong>Hello World</strong> program:</p>

<pre class="lang-java prettyprint prettyprinted"><code><span class="kwd">public</span><span class="pln"> </span><span
        class="kwd">class</span><span class="pln"> </span><span class="typ">HelloWorld</span><span
        class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">public</span><span class="pln"> </span><span class="kwd">static</span><span
        class="pln"> </span><span class="kwd">void</span><span class="pln"> main</span><span class="pun">(</span><span
        class="typ">String</span><span class="pun">[]</span><span class="pln"> args</span><span
        class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
        </span><span class="typ">System</span><span class="pun">.</span><span class="pln">out</span><span
        class="pun">.</span><span class="pln">println</span><span class="pun">(</span><span
        class="str">"Hello, World!"</span><span class="pun">);</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
</span><span class="pun">}</span></code></pre>

<p>Compilation and invocation of <strong>Hello World</strong> program:</p>

<pre class="lang-bash prettyprint prettyprinted"><code><span class="pln">javac </span><span class="pun">-</span><span
        class="pln">d </span><span class="pun">.</span><span class="pln"> </span><span
        class="typ">HelloWorld</span><span class="pun">.</span><span class="pln">java
java </span><span class="pun">-</span><span class="pln">cp </span><span class="pun">.</span><span
        class="pln"> </span><span class="typ">HelloWorld</span></code></pre>

<p>Java source code is compiled to an intermediate form (bytecode instructions for the <a
        href="https://en.wikipedia.org/wiki/Java_virtual_machine" rel="nofollow">Java Virtual Machine</a>) that can be
    executed with the <code>java</code> command.</p>

<p>More information: </p>

<ul>
    <li><a href="https://en.wikipedia.org/wiki/Java_%28programming_language%29" rel="nofollow">Wikipedia on Java</a>
    </li>
    <li><a href="https://en.wikipedia.org/wiki/Java_Development_Kit" rel="nofollow">Wikipedia on the JDK</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Java_virtual_machine#Execution_environment" rel="nofollow">Wikipedia on
        the JRE</a></li>
    <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" rel="nofollow">Download Java from
        Oracle</a></li>
</ul>

<h2>Useful IDEs for Java</h2>

<ul>
    <li><a href="https://www.eclipse.org/downloads/packages/eclipse-ide-java-developers/mars1" rel="nofollow">Eclipse
        IDE</a></li>
    <li><a href="https://netbeans.org/downloads/" rel="nofollow">NetBeans IDE</a></li>
    <li><a href="https://www.jetbrains.com/idea/" rel="nofollow">IntelliJ IDEA</a></li>
    <li><a href="https://spring.io/tools" rel="nofollow">Spring Tool Suite</a> (based on Eclipse, includes tools for
        working with <a href="/questions/tagged/spring" class="post-tag" title="show questions tagged 'spring'"
                        rel="tag">spring</a>)
    </li>
    <li><a href="http://www.oracle.com/technetwork/developer-tools/jdev/overview/index.html" rel="nofollow">JDeveloper
        IDE</a></li>
    <li><a href="https://developer.android.com/sdk/index.html" rel="nofollow">Android Studio</a> (based on IntelliJ
        IDEA, mainly meant for working on <a href="/questions/tagged/android" class="post-tag"
                                             title="show questions tagged 'android'" rel="tag"><img
                src="//i.stack.imgur.com/tKsDb.png" height="16" width="18" alt="" class="sponsor-tag-img">android</a>
        projects)
    </li>
    <li><a href="http://www.bluej.org/" rel="nofollow">BlueJ</a></li>
</ul>

<h2>Beginners' resources</h2>

<ul>
    <li><a href="https://docs.oracle.com/javase/tutorial/" rel="nofollow">The Java Tutorials</a> - Starts from scratch
        on Windows/Linux/Mac and covers most of the standard library.
    </li>
    <li><a href="https://docs.oracle.com/javase/tutorial/java/generics/" rel="nofollow">Generics</a></li>
    <li><a href="http://codingbat.com/java" rel="nofollow">Coding Bat (Java)</a> - After learning some basics, refine
        and hone your Java skills with Coding Bat.
    </li>
    <li><a href="http://www.oracle.com/technetwork/java/javase/documentation/codeconvtoc-136057.html" rel="nofollow">Code
        Conventions for the Java Programming Language</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLBD5381FE500534C0" rel="nofollow">Stanford Video Lectures on
        Java</a></li>
    <li><a href="https://www.udemy.com/java-tutorial" rel="nofollow">Udemy free course on Java</a></li>
    <li><a href="https://www.edx.org/course?search_query=java" rel="nofollow">Edx course on Introduction to computing
        with Java</a></li>
</ul>

<h2>Day-to-day resources</h2>

<ul>
    <li><a href="https://docs.oracle.com/javase/" rel="nofollow">Java SE Documentation</a></li>
    <li><a href="https://docs.oracle.com/javase/7/docs/api/" rel="nofollow">Java 7 API reference</a></li>
    <li><a href="https://docs.oracle.com/javase/8/docs/api/" rel="nofollow">Java 8 API reference</a></li>
</ul>

<h2>Advanced resources</h2>

<ul>
    <li><a href="https://docs.oracle.com/javase/specs/" rel="nofollow">Java Language and Virtual Machine
        Specifications</a></li>
    <li><a href="https://en.wikipedia.org/wiki/List_of_JVM_languages" rel="nofollow">Other languages that can be mixed
        with Java on JVM</a></li>
</ul>

<h2>Free Java programming books and resources</h2>

<ul>
    <li><a href="https://ptgmedia.pearsoncmg.com/images/013143697X/downloads/013143697X_book.pdf" rel="nofollow">Java
        Application Development on Linux by Carl Albing and Michael Schwarz (PDF)</a></li>
    <li><a href="http://greenteapress.com/thinkapjava/" rel="nofollow">How to Think Like a Computer Scientist</a></li>
    <li><a href="https://spring.io/guides" rel="nofollow">Spring IO Guides</a></li>
    <li><a href="https://docs.oracle.com/javaee/7/JEETT.pdf" rel="nofollow">The Java EE 7 Tutorial (PDF)</a></li>
    <li><a href="http://www.redbooks.ibm.com/redbooks/SG245118.html" rel="nofollow">Java Thin-Client Programming</a>
    </li>
    <li><a href="https://docs.oracle.com/javase/tutorial/" rel="nofollow">Oracle's Java Tutorials</a></li>
    <li><a href="http://www.mindview.net/Books/TIJ/" rel="nofollow">Thinking in Java</a></li>
    <li><a href="http://njbartlett.name/files/osgibook_preview_20091217.pdf" rel="nofollow">OSGi in Practice (PDF)</a>
    </li>
    <li><a href="https://www.mkyong.com/" rel="nofollow">Category wise tutorials - J2EE</a></li>
    <li><a href="http://roseindia.net/java/" rel="nofollow">Java Example Codes and Tutorials - J2EE</a></li>
    <li><a href="https://www.udemy.com/java-design-patterns-tutorial/" rel="nofollow">Java Design Pattern Video
        Training</a></li>
    <li><a href="http://www.codota.com" rel="nofollow">Code Search for Java examples</a></li>
    <li><a href="http://www.journaldev.com/7153/java-101-tutorials-learn-java" rel="nofollow">Java 101 Tutorials</a>
    </li>
</ul>

<h2>Frequently Asked Questions</h2>

<p><em>People often ask about the following Java topics:</em></p>

<p><strong>General:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/245062/whats-the-difference-between-javascript-and-java">Difference
        between <em>Java</em> and <em>JavaScript</em>.</a></li>
    <li><a href="https://stackoverflow.com/questions/147181/how-can-i-convert-my-java-program-to-an-exe-file">How can I
        convert my java program to an .exe file</a></li>
</ul>

<p><strong>Classpath:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/219585/setting-multiple-jars-in-java-classpath/219801#219801">Setting
        multiple jar in a classpath.</a></li>
</ul>

<p><strong><code>String</code>, <code>StringBuilder</code> and <code>toString</code>:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/513832/how-do-i-compare-strings-in-java">How do I compare strings
        in Java?</a></li>
    <li><a href="https://stackoverflow.com/questions/355089/stringbuilder-and-stringbuffer-in-java">Difference between
        StringBuilder and StringBuffer</a></li>
    <li>
        <a href="https://stackoverflow.com/questions/29140402/why-do-i-get-sometype2f92e0f4-when-i-print-my-java-object">Why
            do I get <code>SomeType@2f92e0f4</code> when I print my object?</a></li>
    <li><a href="https://stackoverflow.com/questions/1552301/immutability-of-strings-in-java">Immutability of Strings in
        Java</a></li>
</ul>

<p><strong><code>equals</code> and <code>hashCode</code>:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/2772763/why-equals-method-when-we-have-operator">Difference between
        <code>equals()</code> and <code>==</code></a></li>
    <li><a href="https://stackoverflow.com/questions/27581/overriding-equals-and-hashcode-in-java">Overriding <code>equals()</code>
        and <code>hashCode()</code></a></li>
</ul>

<p><strong>Java Platform SE API:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/13102045/skipping-nextline-after-use-nextint">Skipping <code>nextLine()</code>
        after use <code>nextInt()</code></a></li>
    <li><a href="https://stackoverflow.com/questions/2592501/compare-dates-in-java">Comparing dates</a></li>
    <li>
        <a href="https://stackoverflow.com/questions/223918/iterating-through-a-list-avoiding-concurrentmodificationexception-when-removing">Removing
            items while iterating through a Collection, avoiding ConcurrentModificationException</a></li>
    <li><a href="https://stackoverflow.com/questions/109383/how-to-sort-a-mapkey-value-on-the-values-in-java">How to
        sort a <code>Map&lt;Key,Value&gt;</code> on the values in Java?</a></li>
    <li><a href="https://stackoverflow.com/questions/322715/when-to-use-linkedlist-over-arraylist">When to use <code>LinkedList</code>
        over <code>ArrayList</code>?</a></li>
    <li><a href="https://stackoverflow.com/questions/20538869/arrays-aslist-in-java"><code>Arrays.asList()</code></a>
    </li>
    <li><a href="https://stackoverflow.com/questions/40471/differences-between-hashmap-and-hashtable">Differences
        between <code>HashMap</code> and <code>Hashtable</code>?</a></li>
</ul>

<p><strong>Generics:</strong></p>

<ul>
    <li>
        <a href="https://stackoverflow.com/questions/2745265/is-listdog-a-subclass-of-listanimal-why-arent-javas-generics-implicitl">Is
            <code>List&lt;Dog&gt;</code> a subclass of <code>List&lt;Animal&gt;</code>? Why aren't Java's generics
            implicitly polymorphic?</a></li>
    <li><a href="https://stackoverflow.com/questions/2723397/java-generics-what-is-pecs">Java Generics: What is
        PECS?</a></li>
    <li><a href="https://stackoverflow.com/questions/2770321/what-is-a-raw-type-and-why-shouldnt-we-use-it">What is a
        raw type and why shouldn't we use it?</a></li>
    <li><a href="https://stackoverflow.com/questions/529085/how-to-create-a-generic-array-in-java">How to create a
        generic array?</a></li>
</ul>

<p><strong>Classes and objects:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/40480/is-java-pass-by-reference">Is Java pass by reference?</a>
    </li>
    <li>
        <a href="https://stackoverflow.com/questions/9969690/whats-the-advantage-of-a-java-enum-versus-a-class-with-public-static-final-fiel">What's
            the advantage of a Java enum versus a class with public static final fields?</a></li>
    <li>
        <a href="https://stackoverflow.com/questions/215497/in-java-whats-the-difference-between-public-default-protected-and-private">Difference
            between public, protected, private and default</a></li>
</ul>

<p><strong>Arithmetic and conversions:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/4937402/moving-decimal-places-over-in-a-double">Why can't I print a
        double correctly?</a></li>
    <li><a href="https://stackoverflow.com/questions/7220681/division-of-integers-in-java">Division of integers returns
        0</a></li>
    <li><a href="https://stackoverflow.com/questions/8710619/java-operator">Java += operator</a></li>
</ul>

<p><strong>Debugging:</strong></p>

<ul>
    <li>
        <a href="https://stackoverflow.com/questions/3988788/what-is-a-stack-trace-and-how-can-i-use-it-to-debug-my-application-errors">What
            is a stack trace, and how can I use it to debug my application errors?</a></li>
    <li><a href="https://stackoverflow.com/a/24100776">What is a <code>NullPointerException</code> and how do I fix it?</a>
    </li>
    <li>
        <a href="https://stackoverflow.com/questions/5554734/what-causes-a-java-lang-arrayindexoutofboundsexception-and-how-do-i-prevent-it">What
            is an <code>ArrayIndexOutOfBoundsException</code> and how do I prevent it?</a></li>
    <li><a href="https://stackoverflow.com/questions/271526/how-to-avoid-null-statements-in-java">How do I avoid null
        checks?</a></li>
    <li><a href="https://stackoverflow.com/questions/34413/why-am-i-getting-a-noclassdeffounderror-in-java">Why am I
        getting a <code>NoClassDefFoundError</code>?</a></li>
    <li><a href="https://stackoverflow.com/questions/2647154/java-package-project-nosuchmethod-error">Why am I getting a
        <code>NoSuchMethodError</code>?</a></li>
</ul>

<p><strong><code>Thread</code> and multithreading:</strong></p>

<ul>
    <li><a href="https://stackoverflow.com/questions/3590000/what-does-java-lang-thread-interrupt-do">What does <code>java.lang.Thread.interrupt()</code>
        do?</a></li>
    <li><a href="https://stackoverflow.com/questions/25425130/loop-doesnt-see-changed-value-without-a-print-statement">While
        loop doesn't see a changed value unless there's a print statement in it</a></li>
    <li><a href="https://stackoverflow.com/questions/541487/implements-runnable-vs-extends-thread"><code>implements
        Runnable</code> vs. <code>extends Thread</code></a></li>
</ul>

<p><strong>Interacting with the operating system:</strong></p>

<ul>
    <li>
        <a href="https://stackoverflow.com/questions/31776546/why-does-runtime-execstring-work-for-some-but-not-all-commands/31776547#31776547">Why
            does <code>Runtime.exec(String)</code> work for some but not all commands?</a></li>
</ul>

<p>(Editors, please only list questions which actually <em>are</em> frequently asked.)</p>

<h2>Chat rooms</h2>

<ul>
    <li><a href="https://chat.stackoverflow.com/rooms/139/java">Stack Overflow chat room for Java</a></li>
    <li><a href="https://chat.stackoverflow.com/rooms/19132/java-and-android-era">Stack Overflow chat room: Java and
        Android era</a></li>
</ul>

</div>
</div>
</div>