<div xmlns:th="http://www.thymeleaf.org" th:fragment="tag-list">
    <div class="post-wrap">
        <table class="questions-table">
            <tr th:each="tag: ${tagPage}">
                <td class="text">
                    <a href="#" class="tag-link" th:text="${tag.name}"></a>

                    <!--<ul class="list tag-list" th:each="tag: ${tag.tags}" th:if="${tag.tags.size()}">-->
                    <!--<li><a href="#" th:text="${tag.tagName}">Ajax</a></li>-->
                    <!--</ul>-->
                    <div class="tag-activity">
                        <a href="#" th:text="${tag.tagOwner.fullName}">Foydalanuvchi</a>
                        <!--<span class="reputation" th:text="${'('+tag.tagOwner.reputation+')'}"></span>-->
                        tomonidan 5 soat
                        avval savol berildi
                    </div>
                </td>
            </tr>
        </table>
        <div th:include="fragments/init :: pagination (page=${tagPage})"></div>
    </div>
</div>