<!DOCTYPE html>
<html>
<head th:include="fragments/init :: head"></head>
<body>
<div th:replace="fragments/init :: header"></div>

<div class="content-wrap">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-9">
<div class="content-box">

<div class="post-wrap">
<h3 class="title"><a href="#" class="question-link">Qanday qilib JavaScriptda
    Internet bor yo'qligini
    tekshiriladi?</a> <span class="status">[ Ko'chilgan ]</span></h3>

<div class="post-item question-item">
<div class="clearfix">
    <div class="box-feature pull-right">
        <div class="box vote  up">
            <div class="row icons"><i class="fa fa-angle-up marked"></i></div>
            <div class="row number-box"><span class="count">5</span></div>
            <div class="row icons"><i class="fa fa-angle-down"></i></div>
        </div>
        <div class="box bookmark marked">
            <div class="row icons"><i class="fa fa-star marked"></i></div>
            <div class="row number-box"><span class="count">5</span></div>
        </div>
    </div>
    <div class="box-content">
        <div class="question-linked"><a href="#">JavaScriptda Internetni statusini
            aniqlash</a></div>
        <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
            Iltimos yordam
            bervoringlar!</p>
<pre class="prettyprint">
&lt;script type="text/javascript"&gt;
// Say hello world until the user starts questioning
// the meaningfulness of their existence.
function helloWorld(world) {
  for (var i = 42; --i &gt;= 0;) {
    alert('Hello ' + String(world));
  }
}
&lt;/script&gt;
&lt;style&gt;
p { color: pink }
b { color: blue }
u { color: "umber" }
&lt;/style&gt;
</pre>
        <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
            Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! </p>

        <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
            Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! </p>
        <ul class="list tag-list">
            <li><a href="#">javascript</a></li>
            <li><a href="#">JSON</a></li>
            <li><a href="#">Ajax</a></li>
            <li><a href="#">javascript</a></li>
            <li><a href="#">Ajax</a></li>
        </ul>
        <div class="footer clearfix">
            <div class="who-box pull-left">
                <p class="date">15.05.2015 da savol berildi</p>

                <div class="user-box">
                    <div class="cover-bg">
                        <img src="img/material-design-rainbow1.png" alt="photo"/>
                    </div>
                    <div class="clearfix">
                        <div class="user-image pull-left">
                            <a href="#"><img src="img/N5.jpg" alt="user"/></a>
                        </div>
                        <div class="user-short-content">
                            <a class="name">Sharipov Bobur</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                        </div>
                        <div class="user-content">
                            <h4 class="job">Full stack developer</h4>

                            <p>Full stack developer Full stack developer Full stack developer Full stack
                                developer</p>

                            <p>Full <a href="#">stack developer Full stack developer Full stack developer</a> Full
                                stack
                                developer
                            </p>
                            <ul class="list extra-list">
                                <li><i class="fa fa-location-arrow"></i> Address: <a href="#">O'zbekiston,
                                    Tashkent</a>
                                </li>
                                <li><i class="fa fa-phone"></i> Tel: <a href="#">+99825 125-25-52</a></li>
                                <li><i class="fa fa-facebook"></i> Facebook: <a href="#">O'zbekiston, Tashkent</a>
                                </li>
                                <li><i class="fa fa-twitter"></i> Twitter: <a href="#">O'zbekiston, Tashkent</a>
                                </li>
                            </ul>
                            <div class="footer">
                                <button class="btn btn-blue">Rezumeni ko'rish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="who-box pull-left">
                <p class="date"><a href="#">15.05.2015 da tahrir qilindi</a></p>

                <div class="user-box">
                    <div class="cover-bg">
                        <img src="img/material-design-rainbow1.png" alt="photo"/>
                    </div>
                    <div class="clearfix">
                        <div class="user-image pull-left">
                            <a href="#"><img src="img/N5.jpg" alt="user"/></a>
                        </div>
                        <div class="user-short-content">
                            <a class="name">Sharipov Bobur</a><br/>
                                <span class="user-score">
                                    <span class="reputation">25,655</span>
                                    <span class="badge-gold"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-silver"><i class="fa fa-star"></i> 25</span>
                                    <span class="badge-bronze"><i class="fa fa-star"></i> 255</span>
                                </span>
                        </div>
                        <div class="user-content">
                            <h4 class="job">Full stack developer</h4>

                            <p>Full stack developer Full stack developer Full stack developer Full stack
                                developer</p>

                            <p>Full <a href="#">stack developer Full stack developer Full stack developer</a> Full
                                stack
                                developer
                            </p>
                            <ul class="list extra-list">
                                <li><i class="fa fa-location-arrow"></i> Address: <a href="#">O'zbekiston,
                                    Tashkent</a>
                                </li>
                                <li><i class="fa fa-phone"></i> Tel: <a href="#">+99825 125-25-52</a></li>
                                <li><i class="fa fa-facebook"></i> Facebook: <a href="#">O'zbekiston, Tashkent</a>
                                </li>
                                <li><i class="fa fa-twitter"></i> Twitter: <a href="#">O'zbekiston, Tashkent</a>
                                </li>
                            </ul>
                            <div class="footer">
                                <button class="btn btn-blue">Rezumeni ko'rish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list action-list pull-left">
                <li><a href="#"><i class="fa fa-share"></i> <span>Ulashish</span></a></li>
                <li><a href="#"><i class="fa fa-edit"></i> <span>Tahrirlash</span></a></li>
                <li><a href="#"><i class="fa fa-warning"></i> <span>Ogohlantirish</span></a></li>
                <li><a href="#"><i class="fa fa-trash"></i> <span>O'chirish</span></a></li>
            </ul>

        </div>
    </div>
</div>
<div class="post-status">
    <h4 class="title">Ushbu savol <a href="#">Jamshid</a>, <a href="#">Pay</a>, <a href="#">Hay</a>, <a
            href="#">Qani</a> tomonidan <a href="#" class="status">Nusxa olindi</a> statusi bilan
        belgilandi. Va yuqorida linkga biriktirildi.</h4>

    <p><strong>Sababi sifatida:</strong> Sizning savolingiz aynan yuqorida biriktirilgan linkdagi savol
        bilan bir xil. Bir xil savollar blocklanadi va avvalgisiga biriktiriladi!</p>
</div>
<ul class="list comment-list">
    <li>Qaysi holatligini aniqlashtirish kerak savolda. <a href="#">Savol berish haqida</a>
        ni o'qib chiqing. <span class="date"><i
                class="fa fa-calendar"></i> 21.01.2015</span></li>
    <li><a href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
        berish haqida</a> ni o'qib chiqing. <a href="#">Qaysi holatligini aniqlashtirish
        kerak </a> savolda. <a href="#">Savol berish haqida</a> ni o'qib chiqing. <a
            href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
        berish haqida</a> ni o'qib chiqing. <span class="date"><i
            class="fa fa-calendar"></i> 21.01.2015</span></li>
    <li>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
        Iltimos yordam
        bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
        qilganimni
        bilmayapman. Iltimos yordam
        bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
        qilganimni
        bilmayapman. Iltimos yordam
        bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
        qilganimni
        bilmayapman. Iltimos yordam
        bervoringlar!
                        <span class="date"><i
                                class="fa fa-calendar"></i> 21.01.2015</span>
    </li>
    <li>
        <form action="#" class="form-comment">

            <textarea class="textare-comment">Izoh</textarea>

            <p>Eng kamida yana <strong>150</strong> ta simvol yozishingiz kerak. </p>
        </form>
        <ul class="list buttons">
            <li><a href="#">Izoh qo'shish</a></li>
            <li>|</li>
            <li><a href="#">Qolgan 5 ta izohni ko'rish</a></li>
        </ul>
    </li>
</ul>
</div>
<div class="filter-box clearfix">
    <ul class="list filter-list clearfix pull-left">
        <li><a href="#">Ovoz </a></li>
        <li class="active"><a href="#">Oxirgi</a></li>
        <li><a href="#">Faol</a></li>
    </ul>
    <h3 class="title pull-right">24 ta javob</h2>
</div>
<div class="post-item answer-item">
    <div class="clearfix">
        <div class="box-feature pull-right">
            <div class="box vote up">
                <div class="row icons"><i class="fa fa-angle-up marked"></i></div>
                <div class="row number-box"><span class="count">5</span></div>
                <div class="row icons"><i class="fa fa-angle-down"></i></div>
            </div>
        </div>
        <div class="box-content">
            <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
                Iltimos yordam
                bervoringlar!</p>

            <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
                Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! </p>

            <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
                Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! </p>

        </div>
    </div>
    <ul class="list comment-list">
        <li>Qaysi holatligini aniqlashtirish kerak savolda. <a href="#">Savol berish haqida</a>
            ni o'qib chiqing. <span class="date"><i
                    class="fa fa-calendar"></i> 21.01.2015</span></li>
        <li><a href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
            berish haqida</a> ni o'qib chiqing. <a href="#">Qaysi holatligini aniqlashtirish
            kerak </a> savolda. <a href="#">Savol berish haqida</a> ni o'qib chiqing. <a
                href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
            berish haqida</a> ni o'qib chiqing. <span class="date"><i
                class="fa fa-calendar"></i> 21.01.2015</span></li>
        <li>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
            Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar!
                        <span class="date"><i
                                class="fa fa-calendar"></i> 21.01.2015</span>
        </li>
        <li>
            <form action="#" class="form-comment">

                <textarea class="textare-comment">Izoh</textarea>

                <p>Eng kamida yana <strong>150</strong> ta simvol yozishingiz kerak. </p>
            </form>
            <ul class="list buttons">
                <li><a href="#">Izoh qo'shish</a></li>
                <li>|</li>
                <li><a href="#">Qolgan 5 ta izohni ko'rish</a></li>
            </ul>
        </li>
    </ul>

</div>
<div class="post-item answer-item">
    <div class="clearfix">
        <div class="box-feature pull-right">
            <div class="box vote up">
                <div class="row icons"><i class="fa fa-angle-up"></i></div>
                <div class="row number-box"><span class="count">-2</span></div>
                <div class="row icons"><i class="fa fa-angle-down marked"></i></div>
            </div>
        </div>
        <div class="box-content">
            <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
                Iltimos yordam
                bervoringlar!</p>

            <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
                Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! </p>

            <p>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
                Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
                qilganimni
                bilmayapman. Iltimos yordam
                bervoringlar! </p>

        </div>
    </div>
    <ul class="list comment-list">
        <li>Qaysi holatligini aniqlashtirish kerak savolda. <a href="#">Savol berish haqida</a>
            ni o'qib chiqing. <span class="date"><i
                    class="fa fa-calendar"></i> 21.01.2015</span></li>
        <li><a href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
            berish haqida</a> ni o'qib chiqing. <a href="#">Qaysi holatligini aniqlashtirish
            kerak </a> savolda. <a href="#">Savol berish haqida</a> ni o'qib chiqing. <a
                href="#">Qaysi holatligini aniqlashtirish kerak </a> savolda. <a href="#">Savol
            berish haqida</a> ni o'qib chiqing. <span class="date"><i
                class="fa fa-calendar"></i> 21.01.2015</span></li>
        <li>Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato qilganimni bilmayapman.
            Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar! Quyidagi kodda nimagadir xatolik chiqyapti. Qayerda xato
            qilganimni
            bilmayapman. Iltimos yordam
            bervoringlar!
                        <span class="date"><i
                                class="fa fa-calendar"></i> 21.01.2015</span>
        </li>
        <li>
            <form action="#" class="form-comment">

                <textarea class="textare-comment">Izoh</textarea>

                <p>Eng kamida yana <strong>150</strong> ta simvol yozishingiz kerak. </p>
            </form>
            <ul class="list buttons">
                <li><a href="#">Izoh qo'shish</a></li>
                <li>|</li>
                <li><a href="#">Qolgan 5 ta izohni ko'rish</a></li>
            </ul>
        </li>
    </ul>

</div>
<div class="post-item answer-item answer-form">
    <div class="field-row">

        <h3 class="title">Sizning Javobingiz</h3>

        <div class="text-editor">

            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea class="wmd-input" id="wmd-input">This is the *first* editor. </textarea>
            </div>

            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>

        </div>
    </div>

    <div class="field-row footer">
        <a class="btn btn-green shdw-2x" href="#">Savol Berish</a>
    </div>
</div>

<div class="pagination-wrap">
    <ul class="list pagination-list">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    <p>Siz <a href="#">javob berilmagan savollar</a>ga javob berishingiz mumkin. Undan tashqari
        <a href="#">tanlagan taglaringiz</a> bo'yicha savollarni ko'rishingiz mumkin.</p>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3">
    <div th:replace="fragments/right-side :: side-wrap"></div>

</div>
</div>
</div>
</div>
<!--./ container-wrap -->

<div th:replace="fragments/init :: footer"></div>
<!--./ footer-wrap -->
</body>
</html>