<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/init :: head">
    <title>Query.uz - Ro'xyatdan o'tish ga xush kelibsiz</title>
</head>
<body>
<div th:replace="fragments/init :: header"></div>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <div class="row">

                        <div class="col-xs-12 col-sm-9">
                            <div class="content-box post-wrap welcome-box">
                                <h2 class="title">Query.uz saytiga xush kelibsiz</h2>

                                <div class="field-row">
                                    <img th:src="@{/images/logo-black.jpg}" alt="banner"/>
                                </div>
                                <div class="field-row text-col-3">
                                    <p>Assalomu Alaykum. Bizning saytimizda dasturlash bo'yicha savol-javoblar
                                        topishingiz mumkin bo'ladi. Bu sayt <a href="http://stackoverflow.com/">StackOverflow.com</a>
                                        va shu saytning oilasi
                                        bo'lgan <a href="http://stackexchange.com/sites">StackExchange.com</a> saytidan
                                        ruhlangan holda, Yurtimizga yoshlariga foydali bo'ladi deb
                                        <strong>Query.uz</strong>
                                        jamoasi ushbu web saytni
                                        sizga taqdim qildi. Imkon qadar dasturlash sohasidagi talabalar,
                                        dasturchilar va kompaniyalarga xizmat qilish maqsad qilingan.
                                        Va eng asosiysi O'zbekistonimizda dasturlash sohasini rivoji uchun hissa
                                        qo'shishni oldimizga maqsad qilganmiz va sizdan
                                        bilimlarini ulashishingizni, bir-biringizni qo'llab-quvvatlashlaringizni umid
                                        qilamiz.</p>

                                    <p>Talabalarimizni dasturlashni o'rganib, tezroq ish topib ketishlari uchun, va
                                        dasturchilarimizni bilimlarini yanada
                                        oshirishlari uchun qo'limizdan kelgancha saytimizda imkoniyatlarni
                                        ko'paytirishga harakat qilmoqdamiz.</p>

                                    <p>Undan tashqari, saytimiz bilimga bo'lgan rag'batni oshirish maqsadida va
                                        dasturchilarni darajalarini belgilash maqsadida
                                        bergan savollari va javoblariga ovoz beradigan va berilgan ovozlarni
                                        foydalanuvchilarga ball sifatida berib borish, ba'zi bir shartlarga mos
                                        darajalar tayin qilishni(misol uchun, chiroyli savol egasi - 3 tadan ko'p ovoz
                                        olgan savolga) harakatidamiz.</p>

                                    <p>Bu sayt forumdan butunlay farq qiladi, bitta sahifada bitta savol va qolgani
                                        o'shanga javob bo'ladi.
                                        Ya'ni, savolda javob, javobda savol yozilmaydi va boshqa saytimizni aniq
                                        qonun-qoidalar(stardardlar)iga tayangan holda
                                        savol-javoblar amalga oshiriladi. Yana boshqa misol: Savol-javoblar yozishda
                                        o'zbek tili imlo qoidalari asosida adabiy tilda yozishilishi hammaga tushunarli
                                        bo'ladi bunga ham reytingni bo'g'laymiz.</p>

                                    <p>Sayt ma'muriyati, 07.01.2016</p>

                                    <h3 class="title">Sayt Qoidalari</h3>
                                    <h4 class="title">Taqiqlanadi</h4>
                                    <ul class="rule-list">
                                        <li>Dasturlashga tegishli bo'lmagan, siyosiy va boshqalarning parollarini buzish
                                            haqidagi savollarni berish
                                        </li>
                                        <li>Keraksiz(bachkana, qo'pol, asabga tegadigan) bo'lgan yozuvlar qoldirish.
                                            Saytdagi har bir yozuv boshqalar uchun foydali bo'lishi kerak
                                        </li>
                                        <li>Saytdagi ma'lumotlarni egasidan so'ramasdan yoki muallifini(yoki urlni)
                                            ko'rsatmasdan boshqa yerga ko'chirish
                                        </li>
                                        <li>Savol yozish kerak joyda javob yozish yoki aksincha qilish</li>
                                        <li>Berilgan savolda ortiqcha mavzudan chiqib yozuvlar qoldirish</li>
                                        <li>Saytdan forum sifatida foydalanish</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div th:object="${user1}" class="content-box" th:if="${user1}">
                                <h2 class="name field-row">
                                    <span  th:text="*{displayName}"></span> (<span th:text="*{reputation}"></span>)
                                </h2>
                                <h3 class="job field-row" th:text="*{job}"></h3>

                                <div class="about field-row" th:text="*{about}"></div>
                                <!--<div th:if="*{skills.size()}">-->
                                    <!--<ul>-->
                                        <!--<li th:each="skill: *{skills}" ><a th:href="${skill.postLink}" th:text="${skill.title}"></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/init :: footer"></div>
</body>
</html>