<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/init :: head">
    <title>Query.uz - HOME ga xush kelibsiz</title>
</head>
<body>
<div th:replace="fragments/init :: header"></div>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="content-box">
                    <div th:include="fragments/question :: q-list"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div th:replace="fragments/right-side :: side-wrap"></div>
            </div>
        </div>
    </div>
</div>
</div>

<!--./ container-wrap -->

<div th:replace="fragments/init :: footer"></div>
</body>
</html>